body{
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
}


#tarolo {
    width: 80%;
    max-width: 600px;
    background-color: rgb(46, 45, 45);
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}
.tartalom img {
    width: 80%;
    max-width: 400px;
}
.tartalom{
    border: 3px dashed gray;
    padding: 10px;
    
}
@media only screen and (max-width: 600px) {
    #tarolo{
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    .tartalom img {
        width: 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 400px) {
    #tarolo{
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    font-size: 5vw;
    grid-template-columns: 1fr;
        
    }
    .tartalom img {
        width: 100%;
        max-width: 100%;
    }
    .tartalom{
        height: 100vh;
    }
}